@use '../../app.component.scss';

.contenedorfoto img {
  width: 20%;
  height: 120%;
}

.contenedorfoto2 img {
  width: 20%;
  height: 120%;
}

.contenedorfoto3 img {
  width: 20%;
  height: 120%;
}

.contenedorfoto {
  display: flex;
}

.contenedorfoto2 {
  display: flex;
}

.contenedorfoto3 {
  display: flex;
}

.principal {
  display: flex;
  margin:0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 8%;
  margin-right: auto;
}

.contenedortexto {
  margin-left: 20px
}
.contenedortexto h1{
  font-size: 25px;
  color: grey;
  margin-top: -5px;
}

.contenedortexto p{
  font-size: 15px;
  color: grey;
  margin-top: 5px;
}

.contenedortexto span{
  font-weight: bold;
  font-size: 15px;
  color: black;
  margin-top: 5px;
}

.contenedortexto span:hover{
  color: red;
}

#texto{
  display: inline-block;
  vertical-align: top;
  color: rgb(56, 23, 88);
}

footer {
  height: 150px;
  display: flex;
}
