@use "../../app.component.scss";

.container {
  display: flex;
  margin-left: 7%;
  margin-right: 7%;
}

.izquierda {
  display: block;
  width: 160%;
  margin: 15px;
  padding-right: 20px;
  overflow: hidden;
  height: 67vh;
}

.izquierda img {
  width: 100%;
  height: 60%;
}

.conta {
  display: block;
  width: 100%;
  height: 40%;
  overflow: hidden;
}

.contabajo {
  display: flex;
  overflow: hidden;
}
.conta1 {
  display: block;
  width: 40%;
  height: 60%;
  margin-right: 40px;
  margin-top: 5px;
}

.texto_derecha p {
  color: gray;
}
.conta1 span{
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
}

.conta2 {
  width: 50%;
  height: 40%;
}

.texto_derecha h3:hover {
  color: goldenrod;
}
.conta2 span{
  font-size: 17px;
  color: grey;
}

.conta2 button {
  color: white;
  background: red;
  padding: 10px 10px;
  margin-top: 40px;
  width: 50%;
  letter-spacing: 5px;
}

.conta2 button:hover {
  background: black;
}

.derecha {
  display: block;
  width: 90%;
  background-color: rgb(6, 5, 15);
  overflow: hidden;
  margin-top: 15px;
}

.contenido_derecha {
  margin: 20px;
  color: white;
  margin-top: 30px;
}

.contenido_derecha span{
  color: goldenrod;
  font-size: 40px;
}

.texto_derecha h3 {
  color: white;
}

.texto_derecha {
margin-bottom: 20px;
margin-top: 20px;
}

