<link rel="stylesheet" href="cuerpo.component.scss" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap"
  rel="stylesheet">

<body>
  <div class="container">
    <div class="img">
      <img src="../../../assets/images/image-web-3-desktop.jpg" alt="" />
    </div>
    <div class="panel">
    </div>
    <div class="columna">
      <div>
        <h1>The Bright Future of Web 3.0?</h1>
      </div>
      <div>
        <span>
          We dive into the next evolution of the web that claims to put the
          power of the plataforms back into the hands of the people. But is it
          really fulfilling its promise?
        </span>
        <button class="boton">READ MORE</button>
      </div>
      <div class="tre">
        <div id="principal">
          <h3>GALERÍA CSS</h3>
          <div class="contenedorfoto">
            <a href="#">
              <img src="../../../assets/images/image-retro-pcs.jpg" border="0"
                alt=""/>
            </a>
            <br />
            <span>Descripción de la imagen</span>
          </div>
          <div class="contenedorfoto">
            <a href="#">
              <img src="../../../assets/images/image-top-laptops.jpg" border="0"
                alt=""/>
            </a>
            <br />
            <span>Descripción de la imagen</span>
          </div>
          <div class="contenedorfoto">
            <a href="#">
              <img src="../../../assets/images/image-gaming-growth.jpg"
                border="0" alt=""/>
            </a>
            <br />
            <span>Descripción de la imagen</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
