@use '../../app.component.scss';

body {
  font-family: var(--font-main);
  height: 400px;
  width: 820px;
 }

 .container {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1500px;
  height: 400px;
  width: 750px;
  padding: 10px 0;
 }

 .img {
  padding: 2% 5%;
  max-width: 655px;
  height: 500px;
 }

 .columna1 {
  width: 20%;
  float: left;
  margin-left: 75px;
 }

 .colum2 {
  width: 45%;
  float: left;
  margin-left: 180px;
 }

 h1{
  color: rgb(56, 23, 88);
  text-align: center;
}

.boton {
  border: 0;
  margin-top: 25px;
  background-color: var(--Soft-red);
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  font-family: 'Poppings', 'sans-serif';
}


