<link rel="stylesheet" href="menu.component.scss" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap" rel="stylesheet">

<nav>
  <section class="imge">
    <img
    width="40"
    alt="Angular logo"
    src="../../../assets/images/logo.svg" />
  </section>
  <section class="links">
      <a>Home</a>
      <a>New</a>
      <a>Popular</a>
      <a>Trending</a>
      <a>Categories</a>
  </section>
</nav>
